.wrapper{
   display: flex;
   height: 100vh;
  background-color: var(--body-light);
}

.icon-container{
  width: 100%;
}

.btn-back {
  color:  rgb(94, 94, 94) !important;

  border: var(--color-border-gray) solid 0.1rem;
  padding: 1.3rem;
  border-radius: 1rem;
  margin-top: 2.7rem;
  margin-left: 2rem;
  cursor: pointer;
}