.wrapper {
  margin-top: 4.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2rem;
  margin-bottom: 1rem;
}

.form-container{
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
}

.icon-mail {
  width: 2.4rem;
  height: 2.4rem;
} 

.heading {
  font-size: 2.2rem;
  font-weight: 600;

}


.form-row{
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.label{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0.8rem;

}


.policy-check {
    max-width: var(--width-input-regis);
    font-size: 1.4rem;

}
.checkbox {
    margin: 10px;
}
.text {
    font-weight: 400;
    color: var(--secondary);

}
.link {
    color: var(--primary);
    text-decoration: underline;
}

