.container {
  background-color: var(--body-light);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;

  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  scrollbar-width: none;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;

  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

.sign-in-container {
  left: 0;
  z-index: 2;
  transform: translateX(100%);
  width: 45%;
}

.sign-up-container {
  left: 0;
  opacity: 0;
  z-index: 1;
  transform: translateX(0);
  width: 55%;
}
.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 50px 0;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.icon-container {
  position: absolute;
  z-index: 9999;
  left: 25%;
}

.btn-back {
  color: rgb(94, 94, 94) !important;
  border: var(--color-border-gray) solid 0.1rem;
  padding: 1.3rem;
  border-radius: 1rem;
  margin-top: 2.7rem;
  margin-left: 2rem;
  cursor: pointer;
}
.container.right-panel-active {
  .sign-in-container {
    transform: translateX(100%);
    opacity: 0;
  }

  .sign-up-container {
    transform: translateX(0%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}
