.wrapper{
    background-color: var(--light-purple);
    padding: 20px;
    width: 100%;
    margin-top: 30px;
}

.container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}   