.dropdown-toggle {
  position: relative;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  user-select: none;
   &:hover {
    color: var(--color-border-gray);
  }

}

.nav-link.active .arrow-icon {
  transform: rotate(180deg);
  transition: transform 0.2s;
}

.dropdown-menu {
  position: absolute;
  top: 196%;
  left: -34px;
  z-index: 999;
  min-width: 260px;
  padding-top: 10px;
  border-radius: 8px;
  padding: 16px 0;
    animation: slideDown 0.2s ease-out;

}

.dropdown-beak {
  position: absolute;
  top: 8px;
  left: 20%; 
  transform: translateX(-50%) rotate(45deg);
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-top: 1px solid #e5e7eb;
  border-left: 1px solid #e5e7eb;
  z-index: 1000;
}

.dropdown-content {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid #e5e7eb;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  z-index: 999;
}

.menu-group {
  padding: 0 16px;
}

.group-title {
  font-size: 11px;
  font-weight: 700;
  color: var(--secondary); 
  text-transform: uppercase;
  margin-bottom: 8px;
  letter-spacing: 0.5px;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  color: var(--black);
  padding: 8px 12px;
  border-radius: 6px;
  opacity: 0.7;
  transition: all 0.2s;

  &:hover {
    opacity: 1;
  }
}

.icon {
  font-size: 18px;
  margin-right: 12px;
  color: var(--primary); 
  width: 20px;
}


@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
