
:root {
    // --primary: #fe2c55;
    // --black: #000;
    --white: #fff;
    // --text-color: #161823;
    --purple-stops: #613DC1 13%, #48309C 45%, #372883 66%, #181753 85%, #000B2F 100%;
    --font-family: 'Inter', sans-serif;
    --color-border-gray: #919191;
    --primary: #613DC1;
    --color-text-primary: #101A36;
    --body-light: #E6E7EA;
    --secondary: #5E5E5E;

    --width-input: 44.1rem;
    --height-input: 5rem;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    // color: var(--text-color);
    overflow-y: overlay;
    font-weight: 300;
    
}

// Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}


// Custom tippy tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
}
