.wrapper{
    width: var(--width-input-regis);
    border: 0.1rem solid var(--primary);
    box-shadow: 0rem 0.4rem 1.2rem rgba(0, 0, 0, 0.24);
    border-radius: 1rem;
    padding: 2rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.heading{
    font-size: 2.2rem;
    font-weight: 500;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

}

.hotlines{
    display: flex;
    gap: 2rem;
}

.hotline{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon{
    background-color: var(--primary);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 1rem;
    color: var(--white);
}
