$text-color: #101a37;
$width-card: 42rem;
$bgr-location: #e6e7ea;
$bgr: rgba(97, 61, 193, 0.6) 0%, rgba(140, 114, 210, 0.79) 13%,
  rgba(172, 153, 222, 0.85) 33%, rgba(212, 202, 238, 0.92) 59%, #ffffff 86%;

.wrapper {
  background: linear-gradient(180deg, $bgr);
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(97, 61, 193, 0.15);
  }
}

.main-content {
  background-color: var(--body-light);
  border-radius: 10px;
  padding: 10px;
}

.header {
  display: flex;
  width: 100%;
  gap: 10px;
}

.avatar {
  border-radius: 8px;
  width: 66px;
  height: 66px;
}

.info {
}

.title {
  color: $text-color;
  font-weight: 500;
  font-size: 20px;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc($width-card - 2 * 6.6rem - 1rem);
}

.icon-heart {
  font-size: 20px;
  transition: transform 0.2s;

    &:hover {
    transform: scale(1.1);
  }

}

.heart-fill {
  color: var(--primary);
}

.meta {
  display: flex;
  gap: 20px;
  font-size: 12px;
  color: var(--dark-gray);
  align-items: center;
}

.date {
}

.location-badge {
  background-color: $bgr-location;
  padding: 3px 10px;
  border-radius: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  max-width: calc($width-card - 10rem);
  font-weight: 600;
}

.btn-chat {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #577cf6;
  display: flex;
  align-items: center;
  justify-content: center;
    color: var(--white);
    cursor: pointer;
}
