$bgr: #613dc199 0%, #8a6fd1b3 14%, #a894ddc7 33%, #d1c7ede0 55%, #ffffff 100%;

.container {
  background: linear-gradient(180deg, $bgr);
  display: flex;
  border-radius: 20px;
  padding: 20px;
  gap: 16px;
  width: var(--width);
  margin: 20px auto;
}

.left {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.right {
  flex: 1;
  position: relative;
}
.box {
  position: sticky;
  top: 0;
  z-index: 5555;
  display: flex;
  gap: 16px; 
  flex-direction: column;
}
