
.message-row {
    display: flex;
    width: 100%;
    margin-bottom: 8px; 
    justify-content: flex-start; 

    &.me {
        justify-content: flex-end;

        .bubble {
            background-color: var(--primary); 
            color: var(--white); 
            border-bottom-right-radius: 4px; 
            border-bottom-left-radius: 12px;
        }

        .job-card-wrapper {
             align-items: flex-end;
        }
    }
}

.bubble {
    max-width: 70%; 
    padding: 12px 16px;
    border-radius: 12px;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
    
   
    background-color: #E5E7EB; 
    color: #1F2937;
    border-bottom-left-radius: 4px;
    
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.job-card-wrapper {
    max-width: 75%;
}