.full-width-input {
    --width-input: 100%; 
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0 4rem;
    display: flex;
    justify-content: center;
}

.card {
    background: var(--white);
    width: 100%;
    border-radius: 1.6rem;
    padding: 3rem 4rem;
    box-shadow: 0 0.4rem 1.2rem rgba(0,0,0,0.05);
}

.title {
    font-size: 2rem;
    font-weight: 700;
    color: #111;
    margin-bottom: 1.6rem;
}

.divider {
    width: 100%;
    height: 0.1rem;
    border-top: 0.1rem dashed #D1D5DB;
    margin-bottom: 3rem;
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    label {
        font-size: 1.4rem;
        font-weight: 600;
        color: #111;
    }
    
}


.actions {
    display: flex;
    justify-content: flex-end;
    gap: 1.6rem;
    margin-top: 2rem;
}

.btn-cancel {
    background: #fff;
    color: var(--primary);
    border: 0.1rem solid #E9D5FF;
    padding: 1rem 3.2rem;
    border-radius: 0.8rem;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        background: #FAF5FF;
    }
}

.btn-save {
    background: var(--primary);
    color: #fff;
    border: none;
    padding: 1rem 4rem;
    border-radius: 0.8rem;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.9;
    }
}