.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2rem;
  margin-top: 4.8rem;
}

.choose-login {
    display: flex;
    gap: 2.4rem
}

.icon {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    padding: 1.3rem;
    color: var(--color-border-gray);
    border: 0.1rem solid var(--color-border-gray);
    border-radius: 1rem;
}
.phone {
}
.mail {
}
.rule {
    min-width: 29.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.1rem solid var(--primary);
    border-radius: 1rem;
    padding: 0 0.5rem 0 3rem;


}
.text {
    font-weight: 700;
    color: var(--color-border-gray);

}
.change-rule {
    font-size: 4.2rem;
    background-color: var(--primary);
    padding: 1rem;
    color: var(--white);
    font-weight: 700;
    border-radius: 1rem;
}

.forgot-password {
    max-width: var(--width-input);
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--color-text-primary);
    text-decoration: underline;
    cursor: pointer;

}

.policy-check {
    max-width: var(--width-input);
    font-size: 1.4rem;

}
.checkbox {
    margin: 10px;
}
.text {
    font-weight: 400;
    color: var(--secondary);

}
.link {
    color: var(--primary);
    text-decoration: underline;
}
