.wrapper {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(180deg, var(--purple-stops));

}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  border-radius: 42px 0 0 42px;
  background-color: var(--body-light);


}

.page-container {
  padding: 24px;
  flex: 1;
  overflow-y: auto;
}
