.search-section {
    background: #F4F2FC;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid var(--primary); 
    margin-bottom: 24px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.03);
}

.search-box {
    display: flex;
    gap: 12px;
    
    input {
        flex: 1;
        padding: 20px;
        border: 1px solid var(--primary);
        border-radius: 999px;
        outline: none;
        font-size: 14px;
        transition: border-color 0.2s;

        &:focus { border-color: var(--primary); }
    }

    .search-btn {
        background-color: #9333EA;
        color: var(--white);
        border: none;
        padding: 0 24px;
        border-radius: 24px;
        font-weight: 600;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
        transition: background 0.2s;

        &:hover { background-color: var(--primary); }
    }
}