.choose-login {
    display: flex;
    gap: 2.4rem
}

.icon {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    padding: 1.3rem;
    color: var(--color-border-gray);
    border: 0.1rem solid var(--color-border-gray);
    border-radius: 1rem;
}
.phone {
}
.mail {
}
.rule {
    min-width: 29.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.1rem solid var(--primary);
    border-radius: 1rem;
    padding: 0 0.5rem 0 3rem;
    cursor: pointer;


}

.business-rule{
    min-width: 52.8rem;

}
.text {
    font-weight: 700;
    color: var(--color-border-gray);

}
.change-rule {
    font-size: 4.2rem;
    background-color: var(--primary);
    padding: 1rem;
    color: var(--white);
    font-weight: 700;
    border-radius: 1rem;
}

.active{
    background-color: var(--primary);
    color: var(--white);
}