

.heading {
  font-size: 2.2rem;
  font-weight: 600;

}

.form-row{
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.label{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0.8rem;

}

