.wrapper {
  position: relative;
  cursor: pointer;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 0.8rem 1.6rem;
  border-radius: 3rem;
  transition: background 0.2s;
  user-select: none;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  padding: 1rem 2.4rem;
  &:hover {
    background-color: #dcd6f7;
  }

  .avatar {
    font-size: 2.8rem;
    color: var(--primary);
  }

  .username {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary);
  }

  .arrow {
    font-size: 1.4rem;
    color: var(--primary);
    transition: transform 0.3s ease;

    &.open {
      transform: rotate(180deg);
    }
  }
}

.dropdown-beak {
  position: absolute;
  top: -9px;
  right: 12px;
  transform: translateX(-50%) rotate(45deg);
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-top: 1px solid #e5e7eb;
  border-left: 1px solid #e5e7eb;
  z-index: 1000;
}
.dropdown-menu {
  position: absolute;
  top: 149%;
  right: 0;
  width: 26rem;
  background-color: var(--white);
  border-radius: 1.2rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  z-index: 100;
  animation: slideDown 0.2s ease-out;
  border: 1px solid #f0f0f0;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1.2rem 1.6rem;
  color: var(--color-text-primary);
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  border-radius: 0.8rem;
  transition: all 0.2s;
  background: transparent;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;

  .item-icon {
    font-size: 1.8rem;
    color: var(--secondary);
  }

  &:hover {
    background-color: var(--light-purple);
    color: var(--primary);
    .item-icon {
      color: var(--primary);
    }
  }

  &.logout {
    color: var(--error);
    .item-icon {
      color: var(--error);
    }
    &:hover {
      background-color: rgba(239, 68, 68, 0.1);
    }
  }
}

.menu-divider {
  height: 1px;
  background-color: #e5e7eb;
  margin: 0.8rem 0;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
