.auth-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2rem;
  margin-top: 4.8rem;
}



.forgot-password {
    max-width: var(--width-input);
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--color-text-primary);
    text-decoration: underline;
    cursor: pointer;

}

.text {
    font-weight: 400;
    color: var(--secondary);

}
.link {
    color: var(--primary);
    text-decoration: underline;
}
