$light-gray: #eceef0;

.table-container {
  overflow: hidden;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 1.2rem;
  border: 0.1rem solid var(--primary);
  overflow: hidden;
  background: var(--white);

  thead {
    background: $light-gray;

    th {
      padding: 1.6rem;
      font-size: 1.4rem;
      font-weight: 700;
      color: var(--color-text-primary);
      text-align: left;
      border-bottom: 0.1rem solid var(--color-border-gray);
      border-right: 0.1rem solid var(--color-border-gray);
      text-align: center;

      &:last-child {
        border-right: none;
      }
    }
  }

  tbody {
    tr {
      border-bottom: 0.1rem solid var(--body-light);
      &:nth-child(even) {
        background: rgba(97, 61, 193, 0.03);
      }
      &:hover {
        background: rgba(97, 61, 193, 0.08);
      }

      td {
        padding: 1.4rem 1.6rem;
        vertical-align: middle;
        color: var(--color-text-primary);
        font-size: 1.4rem;
      }
    }
  }
}

// Căn chỉnh cột
.text-center {
  text-align: center;
}
.th-title {
  width: 25%;
  text-align: start !important;
}
.th-date {
  width: 12%;
  text-align: center;
}
.th-cv {
  width: 10%;
  text-align: center;
}
.th-status {
  width: 15%;
  text-align: center;
}
.th-action {
  width: 26%;
  text-align: center;
}

// Thông tin bài đăng
.post-info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  .title {
    font-weight: 600;
    font-size: 1.5rem;
  }
  .code {
    font-size: 1.2rem;
    color: var(--light-gray);
  }
}

.cv-count {
  font-weight: 700;
}

// Badge Trạng thái
.badge {
  padding: 0.6rem 1.2rem;
  border-radius: 0.6rem;
  font-size: 1.3rem;
  font-weight: 700;
  display: inline-block;
  min-width: 10rem;
  text-align: center;

  &.success {
    background-color: #28a745; // Green 600
    color: #fff;
  }
  &.warning {
    background-color: #fcdb22; // Yellow 500
    color: #fff; // Hoặc màu đen tùy thiết kế
  }
  &.error {
    background-color: #e33737;
    color: #fff;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.btn-action {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.6rem 1.2rem;
  border-radius: 0.6rem;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  border: none;

  &.edit {
    background: #fef9c3;
    color: #d97706;
    border: 0.1rem solid #fde047;
  }
  &.delete {
    background: #fee2e2;
    color: var(--error);
    border: 0.1rem solid #fecaca;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 4.4rem;
  height: 2.4rem;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--light-gray);
    transition: 0.4s;
    border-radius: 3.4rem;
    &:before {
      position: absolute;
      content: "";
      height: 1.8rem;
      width: 1.8rem;
      left: 0.3rem;
      bottom: 0.3rem;
      background-color: var(--white);
      transition: 0.4s;
      border-radius: 50%;
    }
  }
  input:checked + .slider {
    background-color: var(--primary);
  }
  input:checked + .slider:before {
    transform: translateX(2rem);
  }
}

.footer-note {
  background: $light-gray;
  padding: 1.2rem 2rem;
  font-size: 1.3rem;
  color: var(--secondary);
  margin-top: 32px;
  border-radius: 12px;
  font-weight: 700;
}

.empty-message {
  text-align: center;
  padding: 2rem;
  font-style: italic;
  color: var(--secondary);
}
