.wrapper{
    
}

.label {
    display: flex;        
    align-items: center; 
    gap: 15px;          
    font-size: 1.4rem;
    color: var(--secondary);          
    font-weight: 400;
    margin-bottom: 1.7rem;
    &::before, &::after {
        content: "";
        height: 1px;
        width: 7rem;            
        background-color: var(--secondary); 
        flex: 1;                 
    }
}

.icons{
    display: flex;
    gap: 1.8rem;
    justify-content: center;
    
}

.icon-btn{
    background-color: var(--white);
    padding: 1.3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

