.panel {
  flex: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.logo {
  display: flex;
  justify-content: center;
  img {
    width: 20%;
  }
}

.heading, .subheading{
    text-align: center;
    font-weight: 700;
}

.heading {
    font-size: 2.2rem;
    color: var( --color-text-primary);
    margin-top: 4rem;
}

.subheading {
    font-size: 1.4rem;

}
