.profile-container {
    position: relative;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
    gap: 4px;
    svg {
        font-size: 24px;
    }
}

.dropdown-toggle.active .arrow-icon {
  transform: rotate(180deg);
  transition: transform 0.2s;
}

.dropdown-menu {
  position: absolute;
  top: 221%;
  right: 0;
  z-index: 999;
  min-width: 250px;
  padding-top: 10px;
}

.dropdown-beak {
  position: absolute;
    top: 2px;
     right: 12px;

    transform: translateX(-50%) rotate(45deg);
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-top: 1px solid #e5e7eb;
    border-left: 1px solid #e5e7eb;
    z-index: 1000;
}

.dropdown-content {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid #e5e7eb;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  color: #333;
  padding: 8px 12px;
  border-radius: 6px;
  opacity: 0.8;
  transition: all 0.2s;

  &:hover {
    opacity: 1;
    background-color: #f5f5f5;
  }
}

.icon {
  font-size: 18px;
  margin-right: 12px;
  color: var(--primary);
  width: 20px;
}

.btn-logout {
  width: 100%;
  margin-top: 8px;
  font-size: 14px;
}