.wrapper{
   display: flex;
   min-height: 100vh;
  background-color: var(--body-light);


}


.btn-back {
  border: var(--color-border-gray) solid 0.1rem;
  padding: 1.3rem;
  border-radius: 1rem;
  margin-top: 2.7rem;
  margin-left: 2rem;
  cursor: pointer;
}