.page-container {
  margin: 0 auto;
  padding-bottom: 4rem;
}

.page-content {
  display: flex;
  gap: 2.4rem;
  align-items: flex-start;
}

.sidebar-left {
  width: 20rem;
  padding-top: 4rem;
}

.main-section {
  flex: 1;
  background: #fff;
  min-height: 50rem;
  border-radius: 1.6rem;
  padding: 3rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.05);
  border: 0.1rem solid #e5e7eb;
  display: flex;
  flex-direction: column;
}

.sidebar-right {
  width: 28rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
