$white: #ffffff;

.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  border-top-right-radius: 80rem;

  z-index: 100;
  &.active {
    width: 65%;
    transform: translateX(100%);
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 70rem;
    .overlay {
      transform: translateX(-50%);
    }
  }
}

.overlay {
  background: linear-gradient(180deg, var(--purple-stops));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #fff;
  position: relative;
  left: 0;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.register {
  background: linear-gradient(0deg, var(--purple-stops));
}

.overlay-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.overlay-right {
  right: 0;

  transform: translateX(0);

  .content{
    margin-right: 56rem;
  }
}

.logo {
  margin-top: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.regis-logo {
 margin-right: 200px;
  margin-bottom: 100px;
}

.btn-back {
  border: var(--white) solid 0.1rem;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.content {
  flex: 1;
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.text {
  font-size: 2rem;
  padding: 0 4rem;
  margin-bottom: 3rem;
  line-height: 1.4;
}

.btn {
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: 500;
  border-radius: 99.9rem;
  min-width: 14.7rem;
  min-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: $white solid 0.1rem;
  background: transparent;
  color: $white;
  transition: all 0.2s;

  &:hover {
    background: $white;
    color: var(--primary);
  }
}
