.panel {
  flex: 1;
  background: linear-gradient(180deg, var(--purple-stops));
  border-top-right-radius: 80rem;
  height: 100%;
  display: flex;
flex-direction: column;
}

.logo {
  display: flex;
  justify-content: space-between;
  img {
    width: 20%;
  }
}

.btn-back {
  border: var(--color-border-gray) solid 0.1rem;
  padding: 1.3rem;
  border-radius: 1rem;
  margin-top: 2.7rem;
  cursor: pointer;
}

.content {
  color: var(--white);
      flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
  font-size: 4.8rem;
  font-weight: 700;
}

.text {
  font-size: 2rem;
  padding: 0  7.6rem ;
  margin-top: 3.2rem;
  margin-bottom: 2.3rem;
  text-align: center;

}

.btn {
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: 500;
  border-radius: 99.9rem;
  min-width: 14.7rem;
  min-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--white) solid 0.1rem;
}
.login-panel {
}

.regís-panel {
}
