.wrapper {
  width: var(--width);
  margin: 32px auto;
}

.content {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-bottom: 3rem;
}

@media (max-width: 1200px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}
