.wrapper {
  background-color: var(--white);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

}

.content {
    color: var(--dark-gray);           
    font-size: 15px;         
    line-height: 1.6;    

    h3 {
        font-size: 18px;
        font-weight: 700;    
        margin-top: 24px;     
        margin-bottom: 12px;  
    }

    & > h3:first-child {
        margin-top: 0;
    }

    p {
        margin-bottom: 12px;
        text-align: justify;  
    }

    strong, b {
        font-weight: 600;
        color: #000;
    }

    ul {
        list-style-type: disc;
        padding-left: 24px;    
        margin-bottom: 16px;
    }

    li {
        margin-bottom: 6px;    
        padding-left: 4px;  
    }
}